<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DownloadFile</servlet-name>
        <servlet-class>DownloadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>basicDetails</servlet-name>
        <servlet-class>basicDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CI_MC_3or5</servlet-name>
        <servlet-class>Control_And_Instrumentation.CI_MC_3or5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CI_MC_6or10</servlet-name>
        <servlet-class>Control_And_Instrumentation.CI_MC_6or10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CI_MP_3or5</servlet-name>
        <servlet-class>Control_And_Instrumentation.CI_MP_3or5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CI_MP_6or10</servlet-name>
        <servlet-class>Control_And_Instrumentation.CI_MP_6or10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CI_MT_3or5</servlet-name>
        <servlet-class>Control_And_Instrumentation.CI_MT_3or5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CI_MT_6or10</servlet-name>
        <servlet-class>Control_And_Instrumentation.CI_MT_6or10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveInExcel</servlet-name>
        <servlet-class>FileWriter.SaveInExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteSample</servlet-name>
        <servlet-class>FileWriter.deleteSample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_MC_3or5</servlet-name>
        <servlet-class>Fire_Survival_Cables.F_MC_3or5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_MC_6or10</servlet-name>
        <servlet-class>Fire_Survival_Cables.F_MC_6or10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_MP_3or5</servlet-name>
        <servlet-class>Fire_Survival_Cables.F_MP_3or5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_MP_6or10</servlet-name>
        <servlet-class>Fire_Survival_Cables.F_MP_6or10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_MT_3or5</servlet-name>
        <servlet-class>Fire_Survival_Cables.F_MT_3or5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_MT_6or10</servlet-name>
        <servlet-class>Fire_Survival_Cables.F_MT_6or10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_Marine_MC</servlet-name>
        <servlet-class>Fire_Survival_Cables.F_Marine_MC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_Marine_MP</servlet-name>
        <servlet-class>Fire_Survival_Cables.F_Marine_MP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_Marine_MT</servlet-name>
        <servlet-class>Fire_Survival_Cables.F_Marine_MT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Marine_MC</servlet-name>
        <servlet-class>Marine.Marine_MC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Marine_MP</servlet-name>
        <servlet-class>Marine.Marine_MP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Marine_MT</servlet-name>
        <servlet-class>Marine.Marine_MT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PLTC_MP</servlet-name>
        <servlet-class>PLTC.PLTC_MP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PLTC_MT</servlet-name>
        <servlet-class>PLTC.PLTC_MT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserPage</servlet-name>
        <servlet-class>com.AddUserPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <servlet-class>com.LoginPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificationsPage</servlet-name>
        <servlet-class>com.ModificationsPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartCodeDescriptor</servlet-name>
        <servlet-class>com.PartCodeDescriptor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUserPage</servlet-name>
        <servlet-class>com.RemoveUserPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewer</servlet-name>
        <servlet-class>FileWriter.viewer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutPage</servlet-name>
        <servlet-class>com.LogoutPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadFile</servlet-name>
        <url-pattern>/DownloadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>basicDetails</servlet-name>
        <url-pattern>/basicDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CI_MC_3or5</servlet-name>
        <url-pattern>/CI_MC_3or5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CI_MC_6or10</servlet-name>
        <url-pattern>/CI_MC_6or10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CI_MP_3or5</servlet-name>
        <url-pattern>/CI_MP_3or5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CI_MP_6or10</servlet-name>
        <url-pattern>/CI_MP_6or10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CI_MT_3or5</servlet-name>
        <url-pattern>/CI_MT_3or5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CI_MT_6or10</servlet-name>
        <url-pattern>/CI_MT_6or10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveInExcel</servlet-name>
        <url-pattern>/SaveInExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteSample</servlet-name>
        <url-pattern>/deleteSample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_MC_3or5</servlet-name>
        <url-pattern>/F_MC_3or5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_MC_6or10</servlet-name>
        <url-pattern>/F_MC_6or10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_MP_3or5</servlet-name>
        <url-pattern>/F_MP_3or5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_MP_6or10</servlet-name>
        <url-pattern>/F_MP_6or10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_MT_3or5</servlet-name>
        <url-pattern>/F_MT_3or5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_MT_6or10</servlet-name>
        <url-pattern>/F_MT_6or10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_Marine_MC</servlet-name>
        <url-pattern>/F_Marine_MC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_Marine_MP</servlet-name>
        <url-pattern>/F_Marine_MP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_Marine_MT</servlet-name>
        <url-pattern>/F_Marine_MT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Marine_MC</servlet-name>
        <url-pattern>/Marine_MC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Marine_MP</servlet-name>
        <url-pattern>/Marine_MP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Marine_MT</servlet-name>
        <url-pattern>/Marine_MT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PLTC_MP</servlet-name>
        <url-pattern>/PLTC_MP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PLTC_MT</servlet-name>
        <url-pattern>/PLTC_MT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserPage</servlet-name>
        <url-pattern>/AddUserPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/LoginPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificationsPage</servlet-name>
        <url-pattern>/ModificationsPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PartCodeDescriptor</servlet-name>
        <url-pattern>/PartCodeDescriptor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUserPage</servlet-name>
        <url-pattern>/RemoveUserPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewer</servlet-name>
        <url-pattern>/viewer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutPage</servlet-name>
        <url-pattern>/LogoutPage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
