<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MC3or5</servlet-name>
        <servlet-class>com.MC3or5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MC6or10</servlet-name>
        <servlet-class>com.MC6or10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MP3or5</servlet-name>
        <servlet-class>com.MP3or5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MP6or10</servlet-name>
        <servlet-class>com.MP6or10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MT3or5</servlet-name>
        <servlet-class>com.MT3or5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MT6or10</servlet-name>
        <servlet-class>com.MT6or10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>remove_user</servlet-name>
        <servlet-class>com.remove_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modification</servlet-name>
        <servlet-class>com.Modification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modifications</servlet-name>
        <servlet-class>com.Modifications</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adduser</servlet-name>
        <servlet-class>com.adduser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FireMC3or5</servlet-name>
        <servlet-class>com.Fire_Survival_Cables.FireMC3or5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FireMC6or10</servlet-name>
        <servlet-class>com.Fire_Survival_Cables.FireMC6or10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FireMP3or5</servlet-name>
        <servlet-class>com.Fire_Survival_Cables.FireMP3or5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FireMP6or10</servlet-name>
        <servlet-class>com.Fire_Survival_Cables.FireMP6or10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FireMT3or5</servlet-name>
        <servlet-class>com.Fire_Survival_Cables.FireMT3or5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FireMT6or10</servlet-name>
        <servlet-class>com.Fire_Survival_Cables.FireMT6or10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FireMarineMC</servlet-name>
        <servlet-class>com.Fire_Survival_Cables.FireMarineMC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FireMarineMP</servlet-name>
        <servlet-class>com.Fire_Survival_Cables.FireMarineMP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FireMarineMT</servlet-name>
        <servlet-class>com.Fire_Survival_Cables.FireMarineMT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login1</servlet-name>
        <servlet-class>com.Login1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CI_MC_3or5</servlet-name>
        <servlet-class>Control_And_Instrumentation.CI_MC_3or5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CI_MC_6or10</servlet-name>
        <servlet-class>Control_And_Instrumentation.CI_MC_6or10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CI_MP_3or5</servlet-name>
        <servlet-class>Control_And_Instrumentation.CI_MP_3or5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CI_MP_6or10</servlet-name>
        <servlet-class>Control_And_Instrumentation.CI_MP_6or10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CI_MT_3or5</servlet-name>
        <servlet-class>Control_And_Instrumentation.CI_MT_3or5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CI_MT_6or10</servlet-name>
        <servlet-class>Control_And_Instrumentation.CI_MT_6or10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_MC_3or5</servlet-name>
        <servlet-class>Fire_Survival_Cables.F_MC_3or5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_MC_6or10</servlet-name>
        <servlet-class>Fire_Survival_Cables.F_MC_6or10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_MP_3or5</servlet-name>
        <servlet-class>Fire_Survival_Cables.F_MP_3or5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_MP_6or10</servlet-name>
        <servlet-class>Fire_Survival_Cables.F_MP_6or10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_MT_3or5</servlet-name>
        <servlet-class>Fire_Survival_Cables.F_MT_3or5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_MT_6or10</servlet-name>
        <servlet-class>Fire_Survival_Cables.F_MT_6or10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_Marine_MC</servlet-name>
        <servlet-class>Fire_Survival_Cables.F_Marine_MC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_Marine_MP</servlet-name>
        <servlet-class>Fire_Survival_Cables.F_Marine_MP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_Marine_MT</servlet-name>
        <servlet-class>Fire_Survival_Cables.F_Marine_MT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <servlet-class>com.LoginPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificationsPage</servlet-name>
        <servlet-class>com.ModificationsPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserPage</servlet-name>
        <servlet-class>com.AddUserPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUserPage</servlet-name>
        <servlet-class>com.RemoveUserPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>FileWriter.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServ</servlet-name>
        <servlet-class>FileWriter.DownloadServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>save</servlet-name>
        <servlet-class>FileWriter.save</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Help</servlet-name>
        <servlet-class>FileWriter.Help</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveInExcel</servlet-name>
        <servlet-class>FileWriter.SaveInExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Marin_MP</servlet-name>
        <servlet-class>Marine.Marin_MP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Marine_MP</servlet-name>
        <servlet-class>Marine.Marine_MP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mainre_MC</servlet-name>
        <servlet-class>Marine.Mainre_MC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Marine_MT</servlet-name>
        <servlet-class>Marine.Marine_MT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PLTC_MP</servlet-name>
        <servlet-class>PLTC.PLTC_MP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PLTC_MT</servlet-name>
        <servlet-class>PLTC.PLTC_MT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Marine_MC</servlet-name>
        <servlet-class>Marine.Marine_MC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_M_MC</servlet-name>
        <servlet-class>Marine_CandI_Cables.F_M_MC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_M_MP</servlet-name>
        <servlet-class>Marine_CandI_Cables.F_M_MP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F_M_MT</servlet-name>
        <servlet-class>Marine_CandI_Cables.F_M_MT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Descriptor</servlet-name>
        <servlet-class>com.Descriptor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartCodeDescriptor</servlet-name>
        <servlet-class>com.PartCodeDescriptor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>com.Download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFile</servlet-name>
        <servlet-class>DownloadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>basicDetails</servlet-name>
        <servlet-class>basicDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteSample</servlet-name>
        <servlet-class>FileWriter.deleteSample</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MC3or5</servlet-name>
        <url-pattern>/MC3or5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MC6or10</servlet-name>
        <url-pattern>/MC6or10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MP3or5</servlet-name>
        <url-pattern>/MP3or5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MP6or10</servlet-name>
        <url-pattern>/MP6or10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MT3or5</servlet-name>
        <url-pattern>/MT3or5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MT6or10</servlet-name>
        <url-pattern>/MT6or10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remove_user</servlet-name>
        <url-pattern>/remove_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modification</servlet-name>
        <url-pattern>/Modificaation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modifications</servlet-name>
        <url-pattern>/Modifications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adduser</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FireMC3or5</servlet-name>
        <url-pattern>/FireMC3or5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FireMC6or10</servlet-name>
        <url-pattern>/FireMC6or10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FireMP3or5</servlet-name>
        <url-pattern>/FireMP3or5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FireMP6or10</servlet-name>
        <url-pattern>/FireMP6or10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FireMT3or5</servlet-name>
        <url-pattern>/FireMT3or5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FireMT6or10</servlet-name>
        <url-pattern>/FireMT6or10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FireMarineMC</servlet-name>
        <url-pattern>/FireMarineMC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FireMarineMP</servlet-name>
        <url-pattern>/FireMarineMP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FireMarineMT</servlet-name>
        <url-pattern>/FireMarineMT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login1</servlet-name>
        <url-pattern>/Login1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CI_MC_3or5</servlet-name>
        <url-pattern>/CI_MC_3or5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CI_MC_6or10</servlet-name>
        <url-pattern>/CI_MC_6or10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CI_MP_3or5</servlet-name>
        <url-pattern>/CI_MP_3or5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CI_MP_6or10</servlet-name>
        <url-pattern>/CI_MP_6or10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CI_MT_3or5</servlet-name>
        <url-pattern>/CI_MT_3or5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CI_MT_6or10</servlet-name>
        <url-pattern>/CI_MT_6or10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_MC_3or5</servlet-name>
        <url-pattern>/F_MC_3or5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_MC_6or10</servlet-name>
        <url-pattern>/F_MC_6or10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_MP_3or5</servlet-name>
        <url-pattern>/F_MP_3or5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_MP_6or10</servlet-name>
        <url-pattern>/F_MP_6or10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_MT_3or5</servlet-name>
        <url-pattern>/F_MT_3or5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_MT_6or10</servlet-name>
        <url-pattern>/F_MT_6or10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_Marine_MC</servlet-name>
        <url-pattern>/F_Marine_MC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_Marine_MP</servlet-name>
        <url-pattern>/F_Marine_MP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_Marine_MT</servlet-name>
        <url-pattern>/F_Marine_MT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/LoginPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificationsPage</servlet-name>
        <url-pattern>/ModificationsPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserPage</servlet-name>
        <url-pattern>/AddUserPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUserPage</servlet-name>
        <url-pattern>/RemoveUserPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServ</servlet-name>
        <url-pattern>/DownloadServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>save</servlet-name>
        <url-pattern>/save</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Help</servlet-name>
        <url-pattern>/Help</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveInExcel</servlet-name>
        <url-pattern>/SaveInExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Marin_MP</servlet-name>
        <url-pattern>/Marin_MP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Marine_MP</servlet-name>
        <url-pattern>/Marine_MP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mainre_MC</servlet-name>
        <url-pattern>/Mainre_MC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Marine_MT</servlet-name>
        <url-pattern>/Marine_MT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PLTC_MP</servlet-name>
        <url-pattern>/PLTC_MP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PLTC_MT</servlet-name>
        <url-pattern>/PLTC_MT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Marine_MC</servlet-name>
        <url-pattern>/Marine_MC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_M_MC</servlet-name>
        <url-pattern>/F_M_MC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_M_MP</servlet-name>
        <url-pattern>/F_M_MP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F_M_MT</servlet-name>
        <url-pattern>/F_M_MT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Descriptor</servlet-name>
        <url-pattern>/Descriptor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PartCodeDescriptor</servlet-name>
        <url-pattern>/PartCodeDescriptor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/Download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFile</servlet-name>
        <url-pattern>/DownloadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>basicDetails</servlet-name>
        <url-pattern>/basicDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteSample</servlet-name>
        <url-pattern>/deleteSample</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <mime-mapping>
    <extension>xlsx</extension>
    <mime-type>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</mime-type>
</mime-mapping>
</web-app>
